In [8]:
import pandas as pd

In [12]:
df=pd.read_csv('C:/Users/Administrator/Downloads/excel-spreadsheet-examples-for-students.csv')

df.head()

,First Name,Last Name,Company Name,Address,City,State,Phone No,Email,Web
0,Rebbecca,Didio,"Brandt, Jonathan F Esq",171 E 24th St,Leith,TAS,03-8174-9123,rebbecca.didio@didio.com.au,http://www.brandtjonathanfesq.com.au
1,Stevie,Hallo,Landrum Temporary Services,22222 Acoma St,Proston,QLD,07-9997-3366,stevie.hallo@hotmail.com,http://www.landrumtemporaryservices.com.au
2,Mariko,Stayer,"Inabinet, Macre Esq",534 Schoenborn St #51,Hamel,WA,08-5558-9019,mariko_stayer@hotmail.com,http://www.inabinetmacreesq.com.au
3,Gerardo,Woodka,Morris Downing & Sherred,69206 Jackson Ave,Talmalmo,NSW,02-6044-4682,gerardo_woodka@hotmail.com,http://www.morrisdowningsherred.com.au
4,Mayra,Bena,"Buelt, David L Esq",808 Glen Cove Ave,Lane Cove,NSW,02-1455-6085,mayra.bena@gmail.com,http://www.bueltdavidlesq.com.au

In [13]:
df.describe(include='all')

,First Name,Last Name,Company Name,Address,City,State,Phone No,Email,Web
count,500,500,500,500,500,500,500,500,500
unique,484,500,498,500,480,8,500,500,498
top,Gerald,Didio,House Of Ing,171 E 24th St,Varsity Lakes,NSW,03-8174-9123,rebbecca.didio@didio.com.au,http://www.houseofing.com.au
freq,2,1,2,1,2,125,1,1,2

In [28]:
df.rename(columns = {'Address':'Location'}, inplace = True)

In [29]:
df.head()

,First Name,Last Name,Company Name,Location,City,Phone No,Email
0,Rebbecca,Didio,"Brandt, Jonathan F Esq",171 E 24th St,Leith,03-8174-9123,rebbecca.didio@didio.com.au
1,Stevie,Hallo,Landrum Temporary Services,22222 Acoma St,Proston,07-9997-3366,stevie.hallo@hotmail.com
2,Mariko,Stayer,"Inabinet, Macre Esq",534 Schoenborn St #51,Hamel,08-5558-9019,mariko_stayer@hotmail.com
3,Gerardo,Woodka,Morris Downing & Sherred,69206 Jackson Ave,Talmalmo,02-6044-4682,gerardo_woodka@hotmail.com
4,Mayra,Bena,"Buelt, David L Esq",808 Glen Cove Ave,Lane Cove,02-1455-6085,mayra.bena@gmail.com

In [32]:
df.drop(['Location'],axis=1,inplace=True)

In [33]:
df.head()

,First Name,Last Name,Company Name,City,Phone No,Email
0,Rebbecca,Didio,"Brandt, Jonathan F Esq",Leith,03-8174-9123,rebbecca.didio@didio.com.au
1,Stevie,Hallo,Landrum Temporary Services,Proston,07-9997-3366,stevie.hallo@hotmail.com
2,Mariko,Stayer,"Inabinet, Macre Esq",Hamel,08-5558-9019,mariko_stayer@hotmail.com
3,Gerardo,Woodka,Morris Downing & Sherred,Talmalmo,02-6044-4682,gerardo_woodka@hotmail.com
4,Mayra,Bena,"Buelt, David L Esq",Lane Cove,02-1455-6085,mayra.bena@gmail.com

In [34]:
print(df.City)

0           Leith
1         Proston
2           Hamel
3        Talmalmo
4       Lane Cove
          ...
495     Barringun
496       Pilliga
497        Rhodes
498    Castletown
499        Turill
Name: City, Length: 500, dtype: object